<p-toast></p-toast>
<div class="admin-page">
  <p-card
    [header]="editmode ? 'Edit Product' : 'Add Product'"
    subheader="You can add or edit products here"
  >
    <div class="grid mb-5">
      <div class="col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left"></div>
          <div class="p-toolbar-group-right">
            <p-button
              styleClass="p-button-primary mr-2"
              [label]="editmode ? 'Update' : 'Create'"
              icon="pi pi-plus"
              (click)="onSubmit()"
            ></p-button>
            <p-button
              styleClass="p-button-secondary"
              label="Cancle"
              icon="pi pi-arrow-circle-left"
              (click)="onCancle()"
            ></p-button>
          </div>
        </p-toolbar>
      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <form [formGroup]="form">
          <div class="p-fluid formgrid grid">
            <div class="field col">
              <label for="name">Name</label>
              <input formControlName="name" id="name" type="text" pInputText />
              <small *ngIf="productForm.name.invalid && isSubmitted" class="p-error"
                >Name is required</small
              >
            </div>
            <div class="field col">
              <label for="brand">Brand</label>
              <input formControlName="brand" id="brand" type="text" pInputText />
              <small *ngIf="productForm.brand.invalid && isSubmitted" class="p-error"
                >Brand is required</small
              >
            </div>
            <div class="field col">
              <label for="price">Price</label><br />
              <p-inputNumber formControlName="price" mode="decimal" [useGrouping]="false">
              </p-inputNumber>
              <small *ngIf="productForm.price.invalid && isSubmitted" class="p-error"
                >Price is required</small
              >
            </div>
          </div>
          <div class="p-fluid formgrid grid">
            <div class="field col-4">
              <label for="countInStock">countInStock</label><br />
              <p-inputNumber formControlName="countInStock" mode="decimal" [useGrouping]="false">
              </p-inputNumber>
              <small *ngIf="productForm.countInStock.invalid && isSubmitted" class="p-error"
                >Count in stock is required</small
              >
            </div>
            <div class="field col-4">
              <label for="category">category</label><br />
              <p-dropdown
                [options]="catagories"
                formControlName="category"
                optionLabel="name"
                optionValue="id"
                [filter]="true"
                filterBy="name"
                [showClear]="true"
                placeholder="Select a Category"
              ></p-dropdown>

              <small *ngIf="productForm.category.invalid && isSubmitted" class="p-error"
                >Category is required</small
              >
            </div>
            <div class="field col-4">
              <label for="isFeatured">Is Featured</label><br />
              <p-inputSwitch formControlName="isFeatured"></p-inputSwitch>
            </div>
            <div class="field col-12">
              <label for="description">Description</label><br />
              <textarea
                pInputTextarea
                formControlName="description"
                [rows]="7"
                [cols]="30"
              ></textarea>
              <small *ngIf="productForm.description.invalid && isSubmitted" class="p-error"
                >Description is required</small
              >
            </div>
            <div class="field col-12">
              <label for="richDescription">Product Details</label><br />
              <p-editor formControlName="richDescription" [style]="{ height: '320px' }"></p-editor>
            </div>
            <div class="field col-12">
              <label for="name">Main Image</label>
              <input
                type="file"
                class="p-inputtext"
                accept="image/*"
                (change)="onImageUpload($event)"
              />
              <small *ngIf="productForm.image.invalid && isSubmitted" class="p-error"
                >Image is required</small
              >
              <div class="col-2 mt-2 pl-0">
                <img style="width: 100%" [src]="imageDisplay" alt="" />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </p-card>
</div>

<p-toast></p-toast>
<div class="admin-page">
  <p-card header="Products" subheader="List of all products">
    <div class="grid">
      <div class="col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left">
            <p-button
              styleClass="p-button-success"
              label="New"
              icon="pi pi-plus"
              routerLink="form"
            ></p-button>
          </div>
        </p-toolbar>
      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <p-table
          [paginator]="true"
          [rows]="10"
          [value]="products"
          styleClass="p-datatable-gridlines"
          [globalFilterFields]="['name']"
        >
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
              <th>Image</th>
              <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>
              <th pSortableColumn="stock">Stock <p-sortIcon field="stock"></p-sortIcon></th>
              <th pSortableColumn="category">
                Category <p-sortIcon field="category"></p-sortIcon>
              </th>
              <th pSortableColumn="created">
                Created at <p-sortIcon field="created"></p-sortIcon>
              </th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product>
            <tr>
              <td>{{ product.name }}</td>
              <td><img [src]="product.image" style="width: 100%" alt="" /></td>
              <td>{{ product.price }}</td>
              <td>{{ product.countInStock }}</td>
              <td>{{ product.category.name }}</td>
              <td>{{ product.dateCreated | date: 'short' }}</td>
              <td>
                <p-button
                  (click)="deleteProduct(product.id)"
                  styleClass="p-button-danger mr-2"
                  icon="pi pi-trash"
                ></p-button>
                <p-button
                  (click)="updateProduct(product.id)"
                  styleClass="p-button-success"
                  icon="pi pi-pencil"
                ></p-button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </p-card>
</div>
